<div class="row">
    <div class="col-sm-3">
        <div class="center">
            <button class="btn btn-warning" (click)="getViews()">Generar Informe</button>
        </div>
        <p> Graficos</p>
        <div class="graphics">

        </div>

        <p> Vistas</p>
        <div class="view-graphics">
            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile *ngFor="let view of views">
                    <button (click)="getgraphics(view)" class="viewbutton">
                        {{view.name}}
                    </button>
                </mat-grid-tile>

                <mat-grid-tile>
                    <button class="viewbutton">
                            <img src="assets/img/addIcon.png" >
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>




    <div class="col-sm-9">
        <app-view></app-view>
    </div>
</div>