<div class="mat-app-background basic-container">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="example-boundary">
                <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>

                    <!--echarts [initOpts]="initOpts" [options]="options"></echarts-->
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="example-boundary">
                <div class="example-box-middle" cdkDragBoundary=".example-boundary" cdkDrag>
                    I can only be dragged within the dotted container
                </div>
                <div class="example-box-middle" cdkDragBoundary=".example-boundary" cdkDrag>
                    I can only be dragged within the dotted container
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="example-boundary">
                <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                    <div className="sampleRoot">
                        <igx-geographic-map #map width="700px" height="500px" zoomable="true">
                        </igx-geographic-map>
                    </div>

                    <ng-template let-series="series" let-item="item" #template>
                        <div>
                            <span>
                          {{item.name}}
                      </span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="example-boundary">
                <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                    I can only be dragged within the dotted container
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<p>
    filtros
</p>
<div class="filter">
    <p>
        filtros
    </p>
</div>