<div class="mat-app-background basic-container">

    <mat-grid-list cols="2" rowHeight="2:1">

        <mat-grid-tile cdkDrag>
            <div class="example-boundary">
                <div class="example-box">
                    <echarts [initOpts]="initOpts" [options]="options"></echarts>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile cdkDrag>
            <div class="example-boundary">
                <div class="example-box">
                    <echarts [initOpts]="initOpts" [options]="options"></echarts>
                </div>
            </div>
        </mat-grid-tile>


        <mat-grid-tile cdkDrag>
            <div class="example-boundary">
                <div class="example-box">
                    <igx-geographic-map #map width="700px" height="500px" zoomable="true">
                    </igx-geographic-map>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile cdkDrag>
            <div class="example-boundary">
                <div class="example-box">
                    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" [timeline]="timeline" (select)="onSelect($event)">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="filter">
        <p>
            filtros
        </p>
    </div>
</div>